<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <h1>My Blog Posts</h1>
    <br><br>
    <h2>Latest Posts</h2>
    <hr>
    {% for post in post.all %}
    <a href="{% url 'detail'  post.id %}"> <h3>{{ post.title}}</h3></a>

    {{post.public_date}}
    <br>
    <img src="{{ post.image.url }}" height = 200 width = 200/>
    <br>
    <p>{{post.summary}} </p>
    {% endfor %}
</body>
</html>